extends base

block styles
  link(rel="stylesheet", href="/css/chat.css")

block content

  script#currentUser(type="application/json").
    {
      "id": "#{currentUser.id}",
      "name": "#{currentUser.name}",
      "surname": "#{currentUser.surname}",
      "type": "#{currentUser.type}"
    }

  .chat-container
    .chat-header
      .chat-partner
        img.avatar(src="/images/user.svg", alt="Avatar")
        .partner-info
          a(href=profileLink)
            h2 #{partner.Name} #{partner.Surname}
          p #{partner.Course}
      .chat-actions
        a.btn-back(href="/chats") &times;
    
    .messages-container#messagesContainer
      each message in messages
        if message.IsFile
          .message(class=message.messageType)
            a.message-file(href=`/download/${message.MessageText}`, target="_blank") #{message.MessageText}
            .message-time #{formatTime(message.Timestamp)}
            .message-sender #{message.SenderName}
        else
          .message(class=message.messageType)
            .message-content #{message.MessageText}
            .message-time #{formatTime(message.Timestamp)}
            .message-sender #{message.SenderFullName || (message.SenderName + ' ' + (message.SenderSurname || ''))}
    
    .message-input-container
      .input-wrapper
        label.file-upload(for="fileInput")
          img(src="/images/attach-file.svg", alt="Attach file")
        input#fileInput(type="file", style="display: none")
        textarea#messageInput(placeholder="Type your message...")
      button#sendButton Send

block scripts
  script(src="/scripts/chat.js")