extends base

block styles
  link(rel="stylesheet", href="/css/style3.css")

block content
  .profile
    .div
      .ellipse
      .text
        .text-wrapper= tutor.Name + ' ' + tutor.Surname
        .text-wrapper-2= tutor.Course
        .group
          .text-wrapper-3 Level 1 Badge
          .overlap-group-wrapper
            .overlap-group
              .group-2
              .text-wrapper-4 1
      .text-wrapper-5= tutor.Name + "'s Profile"

      .frame
        each subject in subjects
          .block-wrapper
            .block
              .text-wrapper-6= subject.Name
              .frame-2

      if currentUser && currentUser.id == tutor.ID && currentUser.type === "tutor"
        button.button 
          .edit-profile Edit Profile
        button.div-wrapper
          a(href="/logout").text-wrapper-7 Logout
      else
        button.button 
          .edit-profile Message
        button.div-wrapper
          .text-wrapper-7 Report

      .overlap
        .group-3
          .text-wrapper-11 Courses
          .text-wrapper-12 Opened Tasks
          .text-wrapper-13 Resolved Tasks
          .text-wrapper-14 Tutors
          .frame-3 
            .text-wrapper-15 Search 

      // Rating block
      .frame-4
        .text-wrapper-17 Tutor Rating: #{tutor.Rating} 
        .text-wrapper-17 Rate this tutor:
        .stars-container(data-profile-id=tutor.ID)
          - for (let i = 0; i < 5; i++)
            .star(data-value=i + 1)
              .star-half.left
              .star-half.right

block scripts
  script(src="/scripts/showRating.js")
  script(src="/scripts/star.js")