extends base

block styles
  link(rel="stylesheet", href="/css/profile.css")

block content
  .main-content
    .profile-container
      .profile-header
        .profile-avatar
          .ellipse
        .profile-info
          h1.profile-name= user.Name + ' ' + user.Surname
          p.profile-course= user.Course
          .badge-container
            .badge-level(data-badge-level=user.BadgeLevel <= 6 ? user.BadgeLevel : '6')
              span.badge-number= user.BadgeLevel
            span.badge-text Level #{user.BadgeLevel} Badge
        
        .profile-actions
          if currentUser && currentUser.id == user.ID
            button.btn-edit 
              span.edit-profile Edit Profile
            a.btn-logout(href="/logout") Logout
          else
            a(href=`/start-chat/${tutor.ID}`).btn-message Message
            button.btn-report Report

      .profile-content
        .profile-tabs
          button.tab.active Subjects
          button.tab Opened Tasks
          button.tab Resolved Tasks
          button.tab Messages

        .profile-rating
          .rating-display
            span.rating-label User Rating: 
            span.rating-value= user.Rating
          .rating-input
            span.rating-label Rate this user:
            .stars-container(data-profile-id=user.ID)
              - for (let i = 0; i < 5; i++)
                .star(data-value=i + 1)
                  .star-half.left
                  .star-half.right

        .profile-subjects
          h2.subjects-title Subjects
          .subjects-grid
            each subject in subjects
              .subject-card
                .subject-preview
                h3.subject-title= subject.Name

        .modal-overlay(id="reportModal")
          .modal-container
              h2.modal-title Report Submission
              form.report-form
                textarea.report-textarea(placeholder="Describe the reason why you want to send a report for this person or work")
                .file-upload
                  label(for="reportFile")
                    span Attach File
                  input(type="file" id="reportFile" style="display: none")
                .modal-buttons
                  button.btn-submit(type="submit") Submit
                  button.btn-cancel(type="button") Cancel



block scripts
  script(src="/scripts/showRating.js")
  script(src="/scripts/star.js")
  script(src="/scripts/report.js")